---
eleventyExcludeFromCollections: true
permalink: "{{ section.prefix }}/sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ pkg.name }} v{{ pkg.version }} | {{ pkg.license }} | {{ pkg.author | safe }} -->
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections[section.path] | sort(attribute='url') %}
  <url><loc>{{ item.url | url | absoluteUrl }}</loc><lastmod>{{ item.data.fruit.updated | dateISO }}</lastmod></url>
{% endfor %}
</urlset>